body {
	font-family: arial, verdana;
	font-size: 10pt;
	background-color: #64b3db;
}
.divi{
	border: 3px solid #e0f4ff;
	background-color: #2c5266;
	margin:auto;
	color:white;
	height: 70px;
	line-height: 70px;
  width: 30%;
	font-size: 16px;
	margin-bottom: 2em;
	text-align: center;
	vertical-align: middle;
	cursor:pointer;
}
title{

}
hr{
	border: none;
	height: 8px;
	background-color:#e0f4ff;
}
input{
	margin:auto;
	text-align: center;

}
p{
		color:#e0f4ff;
}

h2{
	color:#e0f4ff;
	text-align: center;
	font-size: 30pt;
 	margin:auto;
  padding: 10px;
}

a{

	font-size: 12pt;
}
