<!DOCTYPE html>
<html>
<head>
  <title>Create Product</title>
</head>
  <body>
    <h2>Enter Product details</h2>
    <form method="post" action="/product">
    <table>
        <tr>
          <td>Category</td>
          <td><input type="text" id="category" name="category" placeholder="Enter category"/></td>
        </tr>
        <tr>
          <td>Year</td>
          <td><input type="text" id="year" name="year" placeholder="Enter year"/></td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td><input type="text" id="quantity" name="quantity" placeholder="Enter quantity"/></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Create Product"/>
          </td>
    </table>
    </form>
  </body>
</html>
