<!DOCTYPE html>
<html>
<head>
  <title>Quantity Search Results</title>
  </head>
  <body>
    <h2>Quantity Search Results</h2>
    <a href="/">Home</a><br/><br/>
    <table border="2">
      <% for(var i=0; i < products.length; i++) {%>
        <tr>
          <td>Category</td>
          <td><%= products[i].Category %></td>
        </tr>
        <tr>
          <td>Year</td>
          <td><%= products[i].Year %></td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td><%= products[i].Quantity %></td>
        </tr>
      <% } %>
    </table>

    </body>
</html>
