<!DOCTYPE html>
<html>
<head>
  <title>Create Product</title>
</head>
  <body>
    <h2>Enter min and max Quantity</h2>
    <form method="post" action="/range">
    <table>
        <tr>
          <td>Min Quantity</td>
          <td><input type="text" id="q1" name="q1" placeholder="Enter Min Quantity"/></td>
        </tr>
        <tr>
          <td>Max Quantity</td>
          <td><input type="text" id="q2" name="q2" placeholder="Enter Max Quantity"/></td>
        </tr>

        <tr>
          <td colspan="2">
            <input type="submit" value="Create Product"/>
          </td>
          </tr>
    </table>
    </form>
  </body>
</html>
