<!DOCTYPE html>
<html>
<head>
  <title>Add Contacts</title>
  </head>
  <body>
    <h2>Contact List</h2>
    <p>
      Contacts will go here
      </p>
      <a href="/">Home Page</a>
      <table border = "12">
  <% for(var i=0; i < contacts.length; i++) {%>
    <tr>
      <td>
        <span><%= contacts[i].first_name %></span>
      </td>
      <td>
       <span><%= contacts[i].last_name %></span>
      </td>
      <td>
       <span><%= contacts[i].phone %></span>
      </td>
      <td>
       <span><a href = "/edit?id=<%= contacts[i].id %>">Edit</span></a>
       &nbsp;<a href = "/delete?id=<%= contacts[i].id %>" onclick = "return confirm('Are you sure?');">Delete</span></a>
      </td>
  <% } %>
</table>
    </body>
</html>
