<!DOCTYPE html>
<html>
<head>
  <title>Add Contacts</title>
  </head>
  <body>
    <h2>Contact List</h2>
    <p>
      Contacts will go here
      </p>
      <a href="/">Home Page</a>
      <form method = "post" action ="/update">
        <table>
          <tr>
            <td>First Name</td>
            <td>
              <input type = "text" id="fname" name = "fname" value ="<%= contact[0].first_name %>"/>
            </td>
          </tr>
          <tr>
            <td>
              last name
            </td>
            <td>
              <input type = "text" id="lname" name = "lname" value ="<%= contact[0].last_name %>"/>
            </td>
          </tr>
          <tr>
            <td>
              phone
            </td>
            <td>
              <input type = "text" id="phone" name = "phone" value ="<%= contact[0].phone %>"/>
            </td>
          </tr>
          <tr>
            <td colspan "2">
              <input type = "hidden" id="contactid" name = "contactid" value ="<%= contact[0].id %>"/>
              <input type = "submit" value="Save Contact" />

            </td>
          </tr>
        </table>
      </form>

</table>
    </body>
</html>
