<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/styles/styles.css">
    <title>City Search</title>
  </head>
  <body>
    <h2>Cities Search</h2><hr />
<!--We are going to use sersdsver scriklsssdklpt to display a select with European countries-->
    <a href="/">Home</a>
<table>


    <tr><th>City</th><th>Population</th></tr>

  <%  for(var i = 0; i< cities.length; i++){ %>
  <tr>
  <td>
   <%=cities[i].name %>
  </td>
  <td> <%=cities[i].population %>
  </td>
</tr>
<%
}
%>
</table>
  </body>
</html>
