<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/styles/styles.css">
    <title>City Search</title>
  </head>
  <body>
    <h2>Cities Search</h2><hr />
    <!--We are going to use server scriklklpt to display a select with European countries-->
    <a href="/">Home</a>




    <form method="get" action="/displaycities">
      <select name="country">
      <%
      for(var i =0;i < cities.length; i++){ %>
      <option value ="<%= cities[i].code %>"><%= cities[i].name %></option>
        <%
      }
      %>
      &nbsp;<input type="submit" value="Get Cities" />
      </select>
      </form>
  </body>
</html>
